---
import Badge from "@/components/Badge.astro";
import { tagIcons } from "@/utils/tagIcons";
const { skills, title } = Astro.props;


var Icon = null;
var className = null;
---

<article class="flex flex-col gap-1 ml-14">
    <h2 class="text-2xl">{title}</h2>
    <ul class="flex gap-2">
        {
            skills.map((skill) => (
                Icon = tagIcons[skill].icon,
                className = tagIcons[skill].iconClass,
                <li>
                    <Badge class="flex gap-1 h-[32px] bg-blue-300/50 dark:dark:bg-gray-800 border-blue-600/50 hover:dark:dark:bg-gray-700 hover:bg-blue-400/70">
                        <Icon class={className}/>
                        {skill}
                    </Badge>
                </li>
            ))
        }
    </ul>
</article>
