---
const { url, name } = Astro.props;
---

<a
    aria-label=`Ver código en GitHub del proyecto "${name}"`
    target="_blank"
    rel="noopener noreferrer"
    href={url}
    class="bg-white/20 backdrop-blur-sm text-black p-2 block rounded-2xl hover:bg-white/10 hover:scale-110 transition-transform duration-200"
>
    <slot />
</a>
