---
import Bento from "@/components/Bento.astro";
import CodeIcon from "@/icons/Code.astro";
---

<h2 class="mb-7 text-4xl flex gap-3 items-center"><CodeIcon class="size-10"/>Proyectos</h2>
<Bento />
