---
import { tagIcons } from "@/utils/tagIcons.js";

const { class: className, tagName } = Astro.props;





const { icon:Icon, iconClass } = tagIcons[tagName];
---

<span
    class=` ${className} inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-green-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md group max-w-fit  focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black`
>
    <Icon class=`${iconClass}` />
    {tagName}
</span>
