---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "@fontsource-variable/onest";
interface Props {
    title: string;
}

const themes = ["light", "dark"];

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Portafolio de Cristian Morales - desarrollador web Trainee" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body
        class="flex items-center flex-col relative text-black dark:text-white"
    >
        <div
            class="bg absolute top-0 z-[-2] min-h-screen h-full w-full bg-gray-400 dark:bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
        >
        </div>
        <Header />
        <slot />

        <Footer />
    </body>
</html>
<style is:global>
    * {
        scroll-margin-top: 80px;
    }

    :root {
        color-scheme: dark light;
    }
    html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
    }

    .bg {
        transition:
            background-color 0.3s,
            color 0.3s;
    }

    strong {
        @apply dark:text-green-400/80 text-[#058e00f7] text-xl font-semibold;
    }
</style>
